body {
	background:-webkit-gradient(linear, left top, left bottom, from(#E8E8E8 ), to(#F8F8F8 ));
	background:-moz-linear-gradient(top, #E8E8E8 0%, #F8F8F8 100%);
	background:-ms-linear-gradient(top, #E8E8E8 0%, #F8F8F8 100%);
	background:-o-linear-gradient(top, #E8E8E8 0%, #F8F8F8 100%);
	background:linear-gradient(top, #E8E8E8 0%, #F8F8F8 100%);
}
thead tr > td {
	font-size:2em;
}
tbody#eventbody tr:hover {
	background-color: #FFFF00;
}
#searchingoption, #searchingcontent{
	font-size: 20px;
}
thead tr{
	background: #FF0033;
}
td {
	border-width:0px 1px 1px 0px;
	border-style:outset;
	font-size:1.2em;
}
table#listcal, table#neweventtable {
	border-width:1px 0px 0px 1px;
	border-style:groove;
	border-color:black;
	text-align:center;
}
tr.event > td {
	padding:20px;
}
td {
	height:20px;
}
td.date {
	min-width:25px;
	width:100px;
}
td.week {
	width:80px;
}
td.time {
	width:150px;
}
div#unmatchedmessage {
	text-align:center;
	font-size:2em;
	display:none;
}
#timebar {
	font-size:x-large;
}
#noeventmessage {
	text-align:center;
	font-size:2em;
	display:none;
}
.event .editbutton {
	position:absolute;
	right:0px;
	font-size:1em;
	display:none;
}
.event:hover .editbutton {
	display:inline-block;
}
.okbutton {
	position:relative;
	display:inline-block;
	bottom:0px;
	font-size:1em;
}
#changepagebutton input[type=button] {
	font-size:2.5em;
}
#prevsearchbutton, #nosearchbutton {
	font-size:1em;
	display:none;
}
#neweventbutton {
	font-size:2.5em;
	color:gray;
}
#neweventblock {
	cursor:pointer;
}
#neweventblock:hover #neweventbutton {
	color:black;
}