body {
	 background:-webkit-gradient(linear, left top, left bottom, from(#FFFFCC), to(#FFFF66));
}
div#timeselect{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: xx-large;
  text-align: center;
  
}
div#timeselect input{
  vertical-align: text-top;
}
div#timeedit_button :{
  color:#EE0000;
}
table#cal{
  min-width: 800px;
  width: 100%;
}
thead tr{
  font-size: 70px;
  font-family: º–∑¢≈È;
  color: #009900;
}
tbody#calbody td{
  border-width: 1px;
  border-style: solid;
  vertical-align: top;
  height: 100px;
  width: 14.285%;
  color: black;
}
tbody#calbody tr td:hover{
  background-color: #FFff00;
}

#timeselect_year, #timeselect_month{
  font-family: serif;
}
#timeedit_month, #timeedit_year, #timeedit_apply, #timeedit_cancel{
  display: none;
}
#timeedit_month, #timeedit_year{
  width: 50px;
}
#caledit_left, #caledit_right{
  float: left;
  width: 42%;
  margin: 3%;
  min-width: 350px;
}
#caledit_select{
  width: 100%;
  min-width: 350px;
}
#caledit_static_year, #caledit_static_month, #caledit_static_date,
#caledit_static_hour, #caledit_static_minute, #caledit_static_remind
{
  display: inline-block;
  width: 40px;
}
#caledit_dyn_year, #caledit_dyn_month, #caledit_dyn_date,
#caledit_dyn_hour, #caledit_dyn_minute, #caledit_dyn_remind
{
  width: 40px;
}
#caledit_dyn_content{
  width: 100%;
  resize: vertical;
}
[name=caledit_write] {
  display: none;
}
